---
layout: ""
page_title: "Provider: Netbox"
description: |-
  The netbox provider provides resources and data sources to interact with Netbox.
---

# Netbox Provider

**⚠️ Important Notice: Do Not Use This Terraform Provider ⚠️**

This is a **fork** of the [e-breuninger/terraform-provider-netbox](https://github.com/e-breuninger/terraform-provider-netbox) provider. It exists just to merge a few pull requests that are currently open in the original repository.

If you're looking for a stable and maintained provider, you should use the original repository. Once the relevant pull requests are merged upstream, this fork will be **archived**.

Thanks for understanding!

{{ .SchemaMarkdown | trimspace }}
